@using DartsScoreboardGames.Services.Models

<div class=@(Class + " d-flex")>
    <MudAvatar Size="Size.Large" @onclick=OnSelect Style="cursor: pointer">
        <MudImage Src=@(Player.Avatar)></MudImage>
    </MudAvatar>
    <MudText Class="my-auto ml-5" Typo="Typo.h5" @onclick=OnSelect Style="cursor: pointer;">@Player.Name</MudText>
    @if (OnCrossClick.HasDelegate) {
        <MudIconButton Icon="fa-regular fa-xmark" Class="ml-auto" Color="Color.Error" @onclick=OnCrossClick />
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Player Player { get; set; }

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<MouseEventArgs> OnCrossClick { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnSelect { get; set; }
}
