@using DartsScoreboardGames.Infrastructure.Services
@using DartsScoreboardGames.Services.Models

@inject GameStateProvider GameStateProvider
@inject AvatarImageProvider AvatarImageProvider

<div>
    <MudDialog Style="width: 50vw;background-image: url('assets/fireworks.gif');background-size: contain;" Class="pa-5" >
        <DialogContent>
            <div class="d-flex flex-column">
                <MudAvatar Size="Size.Large" Class="mx-auto mb-5">
                    <MudImage Src=@(WinningPlayer.Avatar)></MudImage>
                </MudAvatar>
                <MudChip T="string" Class="my-auto ml-5 mx-auto " Variant="Variant.Filled" Color="Color.Success" Size="Size.Large">@($"{WinningPlayer.Name} Wins!")</MudChip>
                <br/>
                <MudButton Variant="Variant.Filled" Class="mx-auto d-lg-none" OnClick="NewGame">End Game</MudButton>
            </div>
        </DialogContent>
    </MudDialog>
</div>

@code{
    [CascadingParameter]
    private IMudDialogInstance? Me { get; set; }

    [Parameter]
    public Player WinningPlayer { get; set; } = default!;

    private void NewGame() {
        Me?.Close();
        GameStateProvider.EndGame();
    }

}
