@using DartsScoreboardGames.Infrastructure.Services
@using DartsScoreboardGames.Services.Models

@inject GameStateProvider GameStateProvider
@inject AvatarImageProvider AvatarImageProvider

<div>
    <MudDialog Style="width: 50vw;" >
        <DialogContent>
            <MudAvatar Size="Size.Large">
                <MudImage Src=@(WinningPlayer.Avatar)></MudImage>
            </MudAvatar>
            <MudText Class="my-auto ml-5" Typo="Typo.h5">@($"{WinningPlayer.Name} Wins!")</MudText>
            <br/>
            <MudButton OnClick="@(() => GameStateProvider.EndGame())">End Game</MudButton>
        </DialogContent>
    </MudDialog>
</div>

@code{
    [CascadingParameter]
    private IMudDialogInstance? Me { get; set; }

    public Player WinningPlayer { get; set; } = default!;

    private void NewGame() {
        GameStateProvider.EndGame();
        Me?.Close();
    }

}
